/* Reset style  */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
    font-family: "JetBrains Mono", monospace;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.3;
  letter-spacing: -0.6;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Général */

body {
  position: relative;
  margin: auto;
  margin-bottom: 60px;
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  box-shadow: 4px -4px 2px 0px rgba(255, 255, 255, 0.53);
  border: none;  
  border-radius: 10px ;
  background: #FFFFFF;
  padding: 10px 30px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 800;
  color: #563148;
  cursor: pointer;
}
.section_titre {
  margin: auto;
  padding: 30px 0;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  color: #563148;
}

@media screen and (max-width: 768px) {
  button {
    padding: 5px;
    font-size: 12px;
    max-width: 150px;
  }
  .section_titre {
    max-width: 60%;
    padding: 0 20px;
    font-weight: 600;
    font-size: 20px;
  }
}

/* Footer fixe de la landing page */
footer {
  z-index: 3;
  width: 100%;
  height: 80px;
  position: fixed;
  bottom: 0; left: 0; right: 0;
  background: rgba(86, 49, 72, 0.8);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  font-weight: 100;
  font-size: 14px;
}
.footer_information {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.footer_calltoaction {
  display: flex;
  gap: 30px;
}
.footer_mobile {
  display: none;
}

@media screen and (max-width: 768px) {
  .footer_calltoaction {
    display: none;
  }
  .footer_information {
    display: none;
  }
  footer {
    height: 50px;
  }
  .footer_mobile {
    width: 80%;
    max-width: 400px;
    display: flex;
    justify-content: space-evenly;
  }
  .footer_mobile i {
    padding: 0 20px;
    font-size: 30px;
    /* border-left: 1rem solid #fff; */
  }
}

/* Accueil landing page */

header {
  background: url('./assetts/images/header_femmes_magiciennes.webp');
  background-position: center;
  width: 100%;
  height: 80vh;
  position: relative;
}

.header_image {
    object-fit: cover;
    width: 100%;
    height: 80%;
    position: relative;
}
.titre, .sous-titre {
    position: absolute;
    padding: 20px 30px;
    border-radius: 5px;
    background-color: rgb(86, 49, 72, 0.8);
    font-family: 'Dancing script';
    font-size: 34px;
    font-weight: 600;
    color: #fff;
}
.titre {
  top: 30px;
  left: 30px;
}
.sous-titre {
  top: 120px;
  left: 30px;
}
.date {
    position: absolute;
    padding: 20px;
    border-radius: 5px;
    background-color: rgb(86, 49, 72, 0.8);
    font-size: 24px;
    font-weight: 400;
    text-align: right;
    color: #fff;
    top: 30px;
    right: 30px;
}

@media screen and (max-width: 768px) {
  header {
    height: 50vh;
  }
  .date {
    width: 100%;
    border-radius: 0;
    padding: 5px;
    font-size: 12px;
    font-weight: 300;
    text-align: center;
    top: 0;
    right: 0;
  }
  .titre, .sous-titre {
    white-space: nowrap;
    padding: 10px;
    font-size: 28px;
    left: 50%;
    transform: translateX(-50%);
  }
  .titre {
    top: 70px;
  }
  .sous-titre {
    top: 140px;
  }
}

/* Section description de l'event */

.description {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.part_left, .part_right {
  margin: auto;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.description img {
  max-height: 600px;
}
.description_container {
  z-index: 2;
  background-color: rgb(86, 49, 72, 0.8);
  padding: 40px 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  /* position: absolute; */
}
.part_left .description_container{
  margin-right: -150px;
}
.part_right .description_container{
  margin-left: -250px;
}
@media screen and (max-width: 768px) {
  .description {
    max-width: 100%;
    margin-top: 20px;
    align-items: center;
    gap: 10px;
  }
  .part_left {
    width: 100%;
    display: flex;
    flex-direction:column-reverse;
  }
  .part_right {
    width: 100%;
    display: flex;
    flex-direction:column;
  }
  .description img {
    max-width: 100%;
  }
  .description_container {
    font-size: 12px;
    padding: 10px;
    margin: 20px;
    margin-top: -200px;
  }
  .part_left .description_container{
    margin-right: 20px;
  }
  .part_right .description_container{
    margin-left: 20px;
  }
}

/* Section programme de l'event */

.programme {
  margin: auto;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
}
.programme_container {
  margin: 20px 0px;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
}
.programme_bloc {
  background-color: rgb(86, 49, 72, 0.8);
  width: 20%;
}
.programme_bloc p {
  padding: 20px 20px;
  font-weight: 100;
  font-size: 14px;
  letter-spacing: -0.6px;
  color: #FFFFFF;
}
.programme_titre {
  background-color: rgb(86, 49, 72);  
  overflow-wrap: break-word;
  height: 60px;
  padding: 15px 20px 0 20px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .programme {
    margin: 10px;
    max-width: 100%;
    align-items: center;
  }
  .programme h2 {
    margin-bottom: 10px;
  }
  .programme_container {
    margin: 0;
    justify-content: none;
    flex-wrap: wrap;
  }
  .programme_bloc {
    width: 46%;
    min-width: 150px;
    margin-bottom: 10px;
  }
  .programme_bloc p {
    padding: 10px;
    font-size: 12px;
  }
  .programme_titre {
    background-color: rgb(86, 49, 72);  
    overflow-wrap: break-word;
    height: auto;
    padding: 10px;
    font-size: 12px;
    font-weight: 400;
  }
}

/* Section lieu de la retraite  */
.place {
  max-width: 100%;
  margin: 0 10px;
}
/* .place img {
  width: 400px;
} */
.place_description {
  background-color: rgb(86, 49, 72, 0.8);
  max-width: 700px;
  padding: 20px 20px;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  margin-left: -60px;
}
@media screen and (max-width: 768px) {
  .place {
    max-width: 100%;
    margin: 10px 0;
  }
  .place img {
    width: 100%;
  }
  .place_description {
    z-index: 2;
    max-width: 100%;
    padding: 10px;
    font-size: 12px;
    margin: 10px 20px -50px 20px;
  }
}

/* Section about  */
.about {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
}
.amelia, .marion {
  margin: auto;
  margin-bottom: 30px;
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about img {
  max-height: 600px;
}
.about_description {
  z-index: 2;
  background-color: rgb(86, 49, 72, 0.8);
  padding: 40px 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 100;
  /* position: absolute; */
}
.about_description h3 {
  margin-bottom: 20px;
}
.amelia .about_description{
  margin-left: -150px;
}
.marion .about_description{
  margin-right: -250px;
}
@media screen and (max-width: 768px) {
  .about {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
  }
  .amelia {
    margin: 10px 0px;
    max-width: 100%;
    flex-direction: column;
  }
  .marion {
    margin-bottom: 10px;
    max-width: 100%;
    flex-direction: column-reverse;
  }
  .about img {
    max-width: 100%;
  }
  .about_description {
    margin: -100px 20px 10px 20px;
    padding: 10px;
    font-size: 12px;
    font-weight: 100;
  }
  .about_description h3 {
    margin-bottom: 20px;
  }
  .amelia .about_description{
    margin-left: 20px;
  }
  .marion .about_description{
    margin-right: 20px;
  }
}


/* Modal pour formulaire résa et rappel */

/*Dialog Styles*/
.dialog {
  background: #563148;
  max-width: 600px;
  border-radius: 20px;
  border: 0;
  box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.1);
  -webkit-animation: fadeIn 1s ease both;
          animation: fadeIn 1s ease both;
}
.dialog::-webkit-backdrop {
  -webkit-animation: fadeIn 1s ease both;
          animation: fadeIn 1s ease both;
  background: rgba(255, 255, 255, 0.4);
  z-index: 2;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.dialog::backdrop {
  -webkit-animation: fadeIn 1s ease both;
          animation: fadeIn 1s ease both;
  background: rgba(255, 255, 255, 0.4);
  z-index: 2;
  -webkit-backdrop-filter: blur(20px);
          backdrop-filter: blur(20px);
}
.modal_content {
  margin: 20px;
}
.dialog .x {
  filter: grayscale(1);
  border: none;
  background: none;
  position: absolute;
  top: 0px;
  right: 0px;
  transition: ease filter, transform 0.3s;
  cursor: pointer;
  transform-origin: center;
}
.dialog .x:hover {
  filter: grayscale(0);
}
.modal_titre {
  margin-bottom: 10px;
}
.dialog h2 {
  font-size: 24px;
  font-weight: 800;
  text-align: center;
  color: #fff;
}
.dialog h3 {
  color: #fff;
  font-size: 13px;
  font-weight: 200;
  text-align: center;
}
.dialog form {
  display: flex;
  flex-direction: column;
}
.dialog label {
  font-size: 10px;
  font-weight: 100;
  color: #fff;
  padding-left: 4px;
  padding-bottom: 4px;
}
.dialog .champ {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
}
.dialog .demi_champ {
  width: 100%;
}
.dialog .ligne_double {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.champ input {
  height: 40px;
  border: none;
  padding-left: 10px;
  border-radius: 4px;
}
textarea {
  border: none;
  padding-left: 10px;
  padding-top: 10px;
  border-radius: 4px;
}
.dialog p {
  font-size: 10px;
  font-weight: 100;
  color: #fff;
}
.form_submit {
  margin: auto;
  margin-top: 20px;
}
@media screen and (max-width: 768px) {
  .dialog_mobile {
    margin: auto;
    background: #563148;
    width: 100%;
    min-height: 100vh;
    border-radius: 0;
    border: 0;
    -webkit-animation: fadeIn 1s ease both;
            animation: fadeIn 1s ease both;
  }
  .dialog_mobile .x {
    filter: grayscale(1);
    box-shadow: none;
    border: none;
    background: none;
    position: absolute;
    top: 10px;
    right: 10px;
    transition: ease filter, transform 0.3s;
    cursor: pointer;
    transform-origin: center;
  }
  .dialog_mobile h2 {
    font-size: 20px;
    font-weight: 800;
    text-align: center;
    color: #fff;
  }
  .dialog_mobile h3 {
    color: #fff;
    font-size: 12px;
    font-weight: 200;
    text-align: center;
  }
  .dialog_mobile form {
    display: flex;
    flex-direction: column;
  }
  .dialog_mobile label {
    font-size: 10px;
    font-weight: 100;
    color: #fff;
    padding-left: 4px;
    padding-bottom: 4px;
  }
  .dialog_mobile .champ {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }
  .champ input {
    height: 30px;
  }
  .dialog_mobile p {
    margin-top: 10px;
    font-size: 10px;
    font-weight: 100;
    color: #fff;
  }
  .dialog_mobile .form_submit {
    padding: 10px 20px;
  }
  #dialog3_mobile .modal_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  #dialog3_mobile .modal_text {
    max-width: 60%;
    margin: auto;
    padding: 40px 0;
    text-align: center;
    font-size: 16px;
  }
  #dialog3_mobile p {
    margin: 30px 0;
    font-size: 16px;
  }
  #dialog3_mobile .info_calltoaction {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #dialog3_mobile button {
    margin: 10px;
    padding: 10px 30px;
    max-width: 400px;
    height: 40px;
  }
}

